<header>
    <section class="hero is-small is-primary">
    <div class="hero-body is-size-6 is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center">
    <ul class="ml-4">
        <li class="">
            <a class="" href="/">Home</a>
        </li>
    </ul>
    <ul class="mr-4 has-text-right">
        <li class="">
            <a class="" href="/author">Author page</a>
        </li>
        <li class="">
            <a class="" href="/author/add-post">Create a new post</a>
        </li>

<!--         <li class="nav-item mt-3">
            <a class="text-white" href="/admin/">Products</a>
        </li> -->
     
    </ul>
</div>
</section>
</header>